h2 {
    font: 15px sans-serif;
}

table,
tr,
th,
td {
    font: 13px sans-serif;
    font-weight: lighter;
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    text-align: left;
    width: auto;
    padding: 7px 5px 7px 5px;
}

th {
    text-align: left;
    background-color: #dedede;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

.container {
    width: 600px;
}

.formInputs input {
    width: 20%;
    white-space: nowrap;
}

.formInputs,
formSubmit {
    display: inline-flex;
    text-align: right;
    gap: 4px;
}

.formSubmit {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.containerWidth {
    width: 100%;
}

.titleText {
    font: 23px sans-serif;
    text-align: center;
    background-color: #8a8a8a;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
}

.annualSalaryCell {
    text-align: right;
    padding-right: 5px;
}

.deleteButton {
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
}

.deleteButtonCell {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.trailingRow {
    height: 35px;
}

.addEmployeeForm {
    align-content: flex-end;
}

.monthlyTotalContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
    font: 15px sans-serif;
}

.monthlyTotalWarning {
    color: red;
    font-weight: bold;
}

.monthlyTotalNormal {
    color: black;
    font-weight: normal;
}